@forward 'tailwindcss/base';
@forward 'tailwindcss/components';
@forward 'tailwindcss/utilities';

.foo {
  .bar {
    color: red;
  }
}

/* ページネーションの汎用スタイル */
.nav-links {
  ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 8px;
  }
  li > * {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    height: 45px;

    &:not(.dots) {
      width: 45px;
      border-radius: 50%;
      color: #000000;
      background: #efefef;
      transition: color 0.3s ease, background 0.3s ease;
    }
  }
  li > .current,
  li > a:hover {
    color: #ffffff;
    background: #000000;
  }
}
