@forward 'tailwindcss/base';
@forward 'tailwindcss/components';
@forward 'tailwindcss/utilities';

.foo {
  .bar {
    color: red;
  }
}

.header {
  height: 50px;
  padding: 0 20px;
}

/* ページネーションの汎用スタイル */
.nav-links {
  ul {
    display: flex;
    gap: 8px;
    justify-content: center;
    list-style: none;
  }

  li > * {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    font-size: 14px;

    &:not(.dots) {
      width: 45px;
      color: #000;
      background: #efefef;
      border-radius: 50%;
      transition:
        color 0.3s ease,
        background 0.3s ease;
    }
  }

  li > .current,
  li > a:hover {
    color: #fff;
    background: #000;
  }
}
